apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-common
  namespace: bnctl-dolphinscheduler-prod-ns
  labels:
    app.kubernetes.io/instance: cluster
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: cluster-common
data:
  DATA_BASEDIR_PATH: /tmp/dolphinscheduler
  DATAX_LAUNCHER: /opt/soft/datax/bin/datax.py
  DOLPHINSCHEDULER_OPTS: ""
  FLINK_HOME: /opt/soft/flink
  HADOOP_CONF_DIR: /opt/soft/hadoop/etc/hadoop
  HADOOP_HOME: /opt/soft/hadoop
  HIVE_HOME: /opt/soft/hive
  JAVA_HOME: /opt/java/openjdk
  PYTHON_LAUNCHER: /usr/bin/python/bin/python3
  RESOURCE_STORAGE_TYPE: S3
  RESOURCE_STORAGE_UPLOAD_BASE_PATH: /
  AWS_S3_ACCESS_KEY_ID: admin
  AWS_S3_ACCESS_KEY_SECRET: S3cr3tP@ssw0rd!
  AWS_S3_BUCKET_NAME: dolphinscheduler
  AWS_S3_ENDPOINT: http://192.168.45.216:9000
  AWS_S3_PATH_STYLE_ACCESS: "true"
  SPARK_HOME: /opt/soft/spark
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-configs
  namespace: bnctl-dolphinscheduler-prod-ns
  labels:
    app.kubernetes.io/instance: cluster
    app.kubernetes.io/managed-by: Helm
data:
  aws.credentials.provider.type: AWSStaticCredentialsProvider
  aws.s3.access.key.id: admin
  aws.s3.access.key.secret: S3cr3tP@ssw0rd!
  aws.s3.bucket.name: dolphinscheduler
  aws.s3.endpoint: http://192.168.45.216:9000
  aws.s3.region: us-east-1
  common.properties: |
    resource.storage.type=S3

    # DS internal
    resource.storage.upload.base.path=/dolphinscheduler
    data.basedir.path=/tmp/dolphinscheduler
    datasource.encryption.enable=false
    datasource.encryption.salt=!@#$%^&*
    sudo.enable=true
    resource.storage.local.base.path=/opt/dolphinscheduler/resources
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-zookeeper-scripts
  namespace: bnctl-dolphinscheduler-prod-ns
  labels:
    app.kubernetes.io/component: zookeeper
    app.kubernetes.io/instance: cluster
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: zookeeper
    helm.sh/chart: zookeeper-11.4.11
data:
  init-certs.sh: '#!/bin/bash'
  setup.sh: |-
    #!/bin/bash

    # Execute entrypoint as usual after obtaining ZOO_SERVER_ID
    # check ZOO_SERVER_ID in persistent volume via myid
    # if not present, set based on POD hostname
    if [[ -f "/bitnami/zookeeper/data/myid" ]]; then
        export ZOO_SERVER_ID="$(cat /bitnami/zookeeper/data/myid)"
    else
        HOSTNAME="$(hostname -s)"
        if [[ $HOSTNAME =~ (.*)-([0-9]+)$ ]]; then
            ORD=${BASH_REMATCH[2]}
            export ZOO_SERVER_ID="$((ORD + 1 ))"
        else
            echo "Failed to get index from hostname $HOSTNAME"
            exit 1
        fi
    fi
    exec /entrypoint.sh /run.sh
